body a {
    color: #4078c0;
    text-decoration: none;
}

body a:visited {
    color: #81b6ea;
    text-decoration:none;
}

body a:hover {
    text-decoration: underline;
}

code {
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}

#content {
    max-width: 800px;
    margin: 0 auto;
}

#draftTag {
    position: fixed;
    top: 5px;
    right: 5px;
    color:red;
    padding: 6px;
    border-radius: 6px;
    border:2px solid red;
}