body {
    font-family: 'Lato', sans-serif;
}
body a {
    color: #4078c0;
    text-decoration: none;
}

body a:visited {
    color: #81b6ea;
    text-decoration:none;
}

body a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    font-family: inherit;
}

code {
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}

#content {
    max-width: 800px;
    margin: 0 auto;
}

#draftTag {
    position: fixed;
    top: 5px;
    right: 5px;
    color:red;
    padding: 6px;
    border-radius: 6px;
    border:2px solid red;
}

blockquote, p.verse {
  background: #f9f9f9;
  border-left: 6px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

pre.src, code {
    font-family: 'Inconsolata', monospace;
    background-color: rgba(0,0,0,0.04);
    font-size: 0.9em;
}
