[submodule "org-files"]
	path = org-files
	url = https://github.com/anuragpeshne/homepage-org-files.git
[submodule "gameoflife"]
	path = gameoflife
	url = https://github.com/anuragpeshne/gameoflife
[submodule "org-blog"]
	path = org-blog
	url = https://github.com/anuragpeshne/org-blog
